header {
  background-color: #282c34;
  color: white;
  padding: 0.2rem;
  text-align: center;
  font-size: 12px;
  position: fixed;  
  top: 0;           
  width: 100%;       
}
main {
  padding: 20px;
  font-size: 18px;
  position: relative;
  margin-top: 0.rem;
}
footer {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}