/* ===============================
   FOOTER
=============================== */
.site-footer {
  background-color: #555;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;

  
}
.site-footer p {
  margin: 0;
  font-size: 1rem;
}
